{% extends "base.html" %}
{% block includes %}
{% endblock %}
{% block bodycontent %}
<div class="center-all noselect">
<h1>Census Data Analyzer</h1>
<form method="POST" action="{{url_for("results")}}"}>
    {% for criteria in [1,2,3,4,5] %}
        <h2>Criteria {{criteria}}: <select name="criteria{{criteria}}">
            <option value="None">--</option>
            {% for category in categories %}
                <option value="{{category}}">{{categories[category]}}</option>
            {% endfor %}
        </select></h2>
    {% endfor %}

    <label>State Name: </label>
    <select name="state">
        {% for state in states %}
            <option value="{{state}}">{{state}}</option>
        {% endfor %}
    </select>
    <br/>
    <br/>
    <input type="submit"/>
</form>
{% endblock bodycontent %} 

